
@{
    ViewData["Title"] = "Accounts";
}
<br />
<div class="text-center" id="window">
    <h2 style="font-size:22px;color:red;">Accounts</h2>
    <br />
    <br />
    <a id="button" asp-controller="AccountViews" asp-action="SearchAccount">Search Account</a>
    <a id="button" asp-controller="AccountViews" asp-action="SearchTransactions">Search Transactions</a>
    <a id="button" asp-controller="AccountViews" asp-action="CreateAccount">Create Account</a>
    <a id="button" asp-controller="AccountViews" asp-action="DeleteAccount">DeleteAccount</a>
    <br />
    <br />
    <br />
   
</div>