@{
    ViewData["Title"] = "Home Page";
    var dateTime = DateTime.UtcNow.ToString("yyyy-MM-dd");

}

<br />
<div class="text-center" id="window">
    <h2 style="font-size:22px;color:red;">HOME</h2>
    <br />
    <br />
    <a id="button" asp-controller="CustomerViews" asp-action="CustomerManagementIndex">Customers</a>
    <a id="button" asp-controller="FunctionsView" asp-action="FunctionsIndex">Functions</a>
    <br />
    <br />
    <br />
    <p style="text-align:right;font-size:16px;color:black;margin-right:5px;">Date:@dateTime</p>
</div>
