@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <br />
   <br />
   <br />
    <a style="background-color:dodgerblue;color:aliceblue;font-size:20px;text-decoration:none;border:solid;border-color:black;" asp-controller="Customers" asp-action="AddCustomer">Add Customers</a>
    <br />
    <br />
    <br />
</div>
