
@{
    ViewData["Title"] = "Account Statement";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">Account Statement</h2>
    <br />
    
    @*<a id="button" asp-controller="Functions" asp-action="AccountStatement">Account Statements</a>
    <a id="button" asp-controller="Functions" asp-action="PinCodeRegeneration">Pin Code Regeneration</a>
    MAKE A FORM
    *@
    <br />
    <br />
    <br />
</div>
