
@{
    ViewData["Title"] = "Functions";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">CUSTOMER DATA MANAGEMENT</h2>
    <br />
    <a id="button" asp-controller="Functions" asp-action="AccountStatement">Account Statements</a>
    <a id="button" asp-controller="Functions" asp-action="PinCodeRegeneration">Pin Code Regeneration</a>
    <br />
    <br />
    <br />
</div>
