@model CustomerModel 
@{
    ViewData["Title"] = "Pin Code Regeneration";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">Pin Code Regeneration</h2>
    <br />
    <form method="post" asp-action="RegeneratePinCode">
        <input asp-for="@Model.CustomerName" placeholder="Enter Customer Name" />
        <input type="submit" placeholder="Regenerate Pin Code"/>
    </form>
    
    <br />
    <br />
    <br />
</div>

