@model StatusModel
@{
    ViewData["Title"] = "Error";
}

<br />
<br />
<div id="error">
    <br />
    <p>@Model.Status </p>
    <br />
    <a id="button" asp-controller="Functions" asp-action="FunctionsIndex">Home</a>
    <br />
    <br />
</div>