@model StatusModel
@{
    ViewData["Title"] = "Error";
}

<br />
<br />
<br />
<p id="errorText">@Model.Status </p>
<div id="boxRight" >
    <img src="~/@Model.Image" />
</div>
<br />
<div id="boxCenter">
    <a id="button" asp-controller="Home" asp-action="Index">Home</a>
</div>
<br />
<br />
