
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var dateTime = DateTime.Now.ToString("yyyy-MM-dd");
}

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="~/js/ShowDataScript.js"></script>

<div>
    <h1 style="color:red;text-align:center">Availabble Bllance:<span id="ballance" style="color:black"></span> </h1>
    <br />
    <br />
    <br />
    <p style="color:dodgerblue;text-align:left">Account Owner <span id="customerName" style="color:black"></span> </p>
    <br />
    <br />
    <p style="color:dodgerblue;text-align:left">Account IBAN <span id="accountIBAN" style="color:black"></span> </p>
    <br />
    <br />
    <p style="color:dodgerblue;text-align:left">Account Number <span id="accountNumber" style="color:black"></span> </p>
    <br />
    <br />
    <p style="color:dodgerblue;text-align:left">Date <span style="color:black"> @dateTime</span> </p>
</div>



