
@model WithdrawModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    var customerName = localStorage.getItem("CustomerName");
    var accountNumber = localStorage.getItem("AccountNumber");
    var accountIBAN = localStorage.getItem("AccountIBAN");

    function Deposit() {

        var depositModel = {

            AccountOwnerName: customerName,
            AccountNumber: accountNumber,
            AccountIBAN: accountIBAN,
            Amount: $('#amountBox').val()

        };
        SendRequest(depositModel);
    };

    function SendRequest(object) {

        $.ajax({

            url: "WithdrawBallance",
            method: "POST",
            data: object,
            succes: function (data) {
                data = JSON.parse(data);
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }

        })
    }

</script>

<div>
    <form method="post" asp-action="DepositBallance">
        <label style="font-size:24px;text-align:center;background-color:aliceblue">Enter Amount To Deposit</label>
        <br />
        <br />
        <input asp-for="@Model.Amount" id="amountBox" placeholder="Enter Amount Here." style="background-color:aliceblue;border:solid;border-color:turquoise" />
        <br />
        <br />
    </form>
    <input type="submit"  onclick="Deposit()"  style="margin-left:auto;margin-right:auto;background-color:aliceblue;border:solid;border-color:turquoise" placeholder="Deposit" />
</div>
