
@{
    ViewData["Title"] = "Customer Data Management";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">CUSTOMER DATA MANAGEMENT</h2>
    <br />
    <a id="button" asp-controller="CustomerViews" asp-action="SearchCustomer" >Search Customer</a>
    <a id="button" asp-controller="CustomerViews" asp-action="AddCustomer">Add New Customer</a>
    <a id="button" asp-controller="CustomerViews" asp-action="UpdateCustomerIndex">Update Customer</a>
    <a id="button" asp-controller="CustomerViews" asp-action="DeleteCustomer">Delete Customer</a>
    <br />
    <br />
    <br />
</div>
