@model CustomerModel
@{
    ViewData["Title"] = "Display Customers";
}

<br />
<div id="window">
    <br />
    <table style="border:solid;border-color:dodgerblue;margin-left:auto;margin-right:auto">
        <thead>
            <tr style="background-color:black;color:aliceblue;text-align:center;font-size:24px;">
                <td style="border:solid;border-color:dodgerblue;padding:10px">
                    Customer Name
                </td>
                <td style="border:solid;border-color:dodgerblue;padding:10px;">
                    Customer Email
                </td>
                <td style="border:solid;border-color:dodgerblue;padding:10px">
                    Customer Phone Number
                </td>
            </tr>
        </thead>
        <tr style="color:red;text-align:center;font-size:24px">
            <td style="border:solid;border-color:dodgerblue;padding:10px">
                @Model.CustomerName
            </td>
            <td style="border:solid;border-color:dodgerblue;padding:10px">
                @Model.CustomerEmail
            </td>
            <td style="border:solid;border-color:dodgerblue;padding:10px">
                @Model.CustomerPhoneNumber
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <a  id="button" asp-action="CustomerManagementIndex" asp-controller="CustomerViews"> Customer Management </a>
    <br />
</div>
<br />