@model SearchModel
@{
    ViewData["Title"] = "Search Customer";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">Search Customer</h2>
    <br />
    <br />
    <form method="post" asp-controller="CustomerPostActions" asp-action="GetCustomers">
        <input id="textBox" asp-for="@Model.CustomerName" placeholder="Enter Customer Name" />
        <input  id="button" type="submit" placeholder="Search Customer" />
    </form>
    <br />
    <b>@Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })</b>
    <br />
    <br />

</div>
<br />