@model UpdateCustomerNameModel
@{
    ViewData["Title"] = "Update Customer Name";
}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">Update Name</h2>
    <br />
    <br />
    <form method="post" asp-controller="CustomerPostActions" asp-action="UpdateCustomerName">
        <input id="updateBox" asp-for="@Model.CustomerName" placeholder="Enter Customer Name" />
        <br />
        <b>@Html.ValidationMessageFor(model=>model.CustomerName, "", new{@class="text-danger"})</b>
        <br />
        <input id="updateBox" asp-for="@Model.NewCustomerName" placeholder="Enter New Customer Name" />
        <br />
        <b>@Html.ValidationMessageFor(model=>model.NewCustomerName ,"", new{@class="text-danger"})</b>
        <br />
        <input id="button" type="submit" placeholder="Update Customer" />
    </form>
    <br />
    <br />

</div>
<br />