
@{

}

<br />
<div id="window" class="text-center">
    <br />
    <h2 style="font-size:22px;color:red;">UPDATE CUSTOMER</h2>
    <h6 style="font-size:22px;color:red;">-Choose Item-</h6>
    <br />
    <br />
    <a id="button" asp-controller="CustomerViews" asp-action="UpdateCustomerName">Update Customer Name</a>
    <a id="button" asp-controller="CustomerViews" asp-action="UpdateCustomerPhoneNumber">Update Phone Number</a>
    <a id="button" asp-controller="CustomerViews" asp-action="UpdateCustomerEmail">Update Customer Email</a>
    <br />
    <br />
    <br />
</div>