@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div style="margin-top:20px;margin-bottom:20px;text-align:center;">
   <a style="font-size:40px;text-decoration:none;background-color:aliceblue;"  asp-controller="Login" asp-action="LoginPage">Enter PIN</a>
    
</div>
